@using Jmelosegui.Mvc.GoogleMap
@model List<community_resources.Models.MentalHealthService>
@{
    ViewData["Title"] = "Community Resources - Search Results";
}
<h2>Search Results</h2>

@if (Model.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Website</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var service in Model)
            {
                <tr>
                    <td>@service.Name1</td>
                    <td>@service.Street1, @service.City, @service.State @service.Zip</td>
                    <td>@service.Phone</td>
                    <td><a href="@service.Website" target="_blank">@service.Website</a></td>
                    <td>Lat: @service.Latitude, Long: @service.Longitude</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="text-center">                
        <div class="row">
        <div class="col-md-12">
            @(Html.GoogleMap()            
                .Name("map")    
                .FitToMarkersBounds(true)            
                .Markers(m =>
                    {
                        foreach (var service in Model)
                        {
                            m.Add().Latitude(Double.Parse(service.Latitude)).Longitude(Double.Parse(service.Longitude)).Title(service.Name1);                             
                        }                        
                    })                
                .Height(500)                
                .ApiKey(Environment.GetEnvironmentVariable("google-maps-api-key"))
            )
        </div>
        </div>
    </div>        
}
else
{
    <p>No services found.</p>
}

@section scripts
{
    @(Html.GoogleMap().ScriptRegistrar())
    
}